<template>
       <v-app-bar
        dark
        class="pb-5 "
        >
          <v-container  class="d-flex flex-row">
              <v-card
                class="d-flex flex-row mb-6 mt-8 "
                flat
                tile
                >
                  <v-img :src="require('../../assets/logo.png')"    max-height="50" max-width="50" contain >  
                  </v-img>
              
                  <v-toolbar-title class="ml-2  title">
                   <span class="text-purple">Appo</span>  
                     Doc
                  </v-toolbar-title>
            
              </v-card>
              <v-spacer>

              </v-spacer>
           

               <v-btn class="mt-9 links" plain @click="logOut">
                  <v-icon color="white"> mdi-logout </v-icon>
                    Log out
              </v-btn>
       
          </v-container>
    </v-app-bar>
</template>

<script>
export default {
    methods: {
      logOut(){
        this.$store.commit("removeToken")
        this.$router.push({name:"login"})
      }
    },
}
</script>


<style>
.links {
 font-family: 'Archivo Narrow', sans-serif;
}
.text-purple{
  color: rgba(248, 21, 191, 0.705);
}

.title {
  font-family: 'Lobster', cursive !important;
}
</style>