<template>
    <div>
          <Navbar />
         <v-main>
                        <div class="features3">
                 <v-container >
                      <h1>About The Doctor</h1>
                  
                      <div  class="mb-12 pb-12" v-if="doctor">

       
                                        <v-row>
                                            <v-col cols="7">
                                                    <v-card color="secondary"  min-height="100" class="mt-5 py-4 pl-3">
                                                    <div class="d-flex doc-brief" >
                                                            <div>
                                                                <v-img  :src="doctor.get_url" class="doctor-image">
                                                        </v-img>
                                                            </div>
                                                        <div class="ml-3 mt-5">
                                                            <h3 >{{doctor.full_name}}</h3>
                                                            <p class="py-3">{{doctor.specialization}}</p>
                                                            <p class="mt-6">Email : {{doctor.email}} , Phone : {{doctor.phone}}</p>
                                                        </div>
                                                    </div>
                                                    </v-card>
                                                    <v-card color="secondary" class="mt-5 py-4 px-6  doc-brief">
                                                        <h4 class="py-4">Overview : </h4>
                                                        <p>
                                                            {{doctor.description}}
                                                        </p>
                                                    </v-card>
                                            </v-col>
                                                <v-col cols="4" class="mt-10 ml-8 ">
                                                    <v-card color="secondary"  min-height="100" class="mt-5 doc-brief pl-3 pt-4 pb-4">
                                                        <p>Adress : {{doctor.adress}}</p>
                                                        <p>State : {{doctor.state}}</p>
                                                        <p>Distance From State :  {{doctor.distance}} km</p>
                                                        <p>Working Hours : </p>
                                                        <ul>
                                                            <li v-for="work in doctor.hours" :key="work.id"> 
                                                                {{work.day}}  {{work.hour_start}} - {{work.hour_end}}
                                                            </li>
                             
                                                        </ul>
                                                    </v-card>
                                            </v-col>
                        
                                        </v-row>
                      </div>
                          <p v-else-if="loading" class="contact"> loading ... </p>
                      <v-card color="secondary"  min-height="100" class="mt-16 contact">
                          <h1 class="py-5 ">Contact Form</h1>
   
                                <v-form class="px-9 pb-4" @submit.prevent="submit">
                                    <v-container>
                                            <v-row>
                                                <v-col
                                                cols="12"
                                                sm="6"
                                                >
                                                    <v-text-field
                                                        dark
                                                        type="text"
                                                        v-model="full_name"
                                                        label="Your Full Name"
                                                        solo
                                                    ></v-text-field>
                                                        <v-alert
                                                            v-if="!$v.full_name.required  && $v.full_name.$dirty"
                                                                color="red"
                                                                dense
                                                                text
                                                                type="error"
                                                                >
                                                                        The Full Name is required
                                                             </v-alert>
                                                </v-col>

                                                <v-col
                                                cols="12"
                                                sm="6"
                                                >
                                                    <v-text-field
                                                            dark
                                                            type="number"
                                                            v-model="age"
                                                            label="Age"
                                                            solo
                                                        ></v-text-field>
                                                       <div v-if=" $v.age.$dirty">
                                                           <v-alert
                                                            v-if="!$v.age.integer ||  !$v.age.required"
                                        
                                                                color="red"
                                                                dense
                                                                text
                                                                type="error"
                                                            >
                                                                <span v-if="!$v.age.required">
                                                                    The age is required
                                                                </span>
                                                                <span v-if="!$v.age.integer">
                                                                   The age  must be integer
                                                                </span>
                                                            </v-alert>
                                                       </div>
                                                </v-col>
                                                <v-col
                                                cols="12"
                                                sm="6"
                                                >
                                                    <v-text-field
                                                        dark
                                                        type="email"
                                                        v-model="email"
                                                        label="Email"
                                                        solo
                                                    ></v-text-field>
                
                                                       <div v-if=" $v.email.$dirty">
                                                           <v-alert
                                                            v-if="!$v.email.email ||  !$v.email.required"
                                        
                                                                color="red"
                                                                dense
                                                                text
                                                                type="error"
                                                            >
                                                                <span v-if="!$v.email.required">
                                                                    The email is required
                                                                </span>
                                                                <span v-if="!$v.email.email">
                                                                   This is not correct format of email 
                                                                </span>
                                                            </v-alert>
                                                       </div>
                                                </v-col>

                                                <v-col
                                                cols="12"
                                                sm="6"
                                                >
                                                    <v-text-field
                                                            dark
                                                            type="phone"
                                                            v-model="phone"
                                                            label="Phone Number"
                                                            solo
                                                        ></v-text-field>
                                                     <div v-if=" $v.phone.$dirty">
                                                           <v-alert
                                                            v-if="!$v.phone.numeric ||  !$v.phone.required"
                                        
                                                                color="red"
                                                                dense
                                                                text
                                                                type="error"
                                                            >
                                                                <span v-if="!$v.phone.required">
                                                                    The phone is required
                                                                </span>
                                                                <span v-if="!$v.phone.numeric">
                                                                    You must enter numbers 
                                                                </span>
                                                            </v-alert>
                                                       </div>
                                                </v-col>
                                            </v-row>
                                                           <v-text-field   
                                                                dark
                                                                label="Enter The Date of appointement"
                                                                solo
                                                                v-model="date"
                                                        
                                                               >
                                                                    
                                                                      <template v-slot:append>
                                                                           <v-menu v-model="menu" offset-y :close-on-content-click="false">
                                                                                <template v-slot:activator="{ on }">
                                                                                <v-icon v-on="on">mdi-calendar</v-icon>
                                                                                </template>
                                                                                <v-date-picker :allowedDates="allowedDates" v-model="date" @click="menu = false" />
                                                                            </v-menu>
                                                                    </template>

                                                               </v-text-field>
                                                                 <v-alert
                                                                    v-if="!$v.date.required &&  $v.date.dirty"
                                                
                                                                        color="red"
                                                                        dense
                                                                        text
                                                                        type="error"
                                                                    >
                                                              
                                                                           The date of appointement is required
                                                              
                                                                </v-alert>
                                                              <v-textarea
                                                                v-model="desc"
                                                                solo
                                                                dark
                                                                label="Write Why You Want To Reserve appointement ( Optional ) "
                                                                ></v-textarea>
                                                                   <v-alert
                                                                    v-if="!$v.desc.maxLength &&  $v.date.dirty"
                                                
                                                                        color="red"
                                                                        dense
                                                                        text
                                                                        type="error"
                                                                    >
                                                              
                                                                           The maxLength of characters is 200
                                                              
                                                                </v-alert>
                                                                <v-btn type="submit" color="pink" class="ml-10" :style="{width:'90%'}" >
                                                                    Submit Contact Form
                                                                </v-btn>
                                                      
                                    </v-container>
                                </v-form>

                      </v-card>
                 </v-container>
            </div>
         </v-main>
    </div>
</template>



<script>
    import axios from "axios"
    import Navbar from '../components/Navbar'
    import {
        required,
        numeric
        ,
        integer,
        maxLength,
 
        email
        } from "vuelidate/lib/validators";
export default {
  
    components : {
        Navbar,
       
    },
    validations:{
            full_name:{required},
            phone:{required,numeric},
            age:{required,integer},
            email:{required,email},
            date:{required},
            desc:{maxLength:maxLength(200)},

    },
    mounted() {
           axios.get(`/api/v1/doctors/?id=${this.$route.params.id}`)
          .then((res)=>{
            
              this.doctor = res.data
         
              this.loading = false
            
               this.doctor.hours.forEach((el) =>{
                    this.el.push(el.day)
               });
      
         
          })
          .catch((err)=> console.log(err))
    },
    data() {
        return {
            doctor:null,
            loading:true,
            full_name:"",
            phone:"",
            age:null,
            email:"",
            menu:false,
            desc:"",
            date: null,
            el:[]
        }
    },
    methods: {
        submit(){
               this.$v.$touch();
           
                if (!this.$v.$invalid) {
             
                    axios.post("/api/v1/appo/create/",{
                  
                    "email":this.email,
                    "phone":this.phone,
                    "full_name":this.full_name,
                    "age":this.age,
                    "did":this.$route.params.id,
                    "date":this.date,
                    "overview":this.desc

                    })
                    .then((res)=>{
                        
                        // this.email=""
                        // this.phone=""
                        // this.full_name=""
                        // this.age=""
                        // this.date=""
                        // this.desc=""

                        this.$notification.success(res.data.message, {  timer: 6 });

                    })
                    .catch((err)=>{
                       
                         if (err.response.status === 400) {

                                this.$notification.error(err.response.data.message, {  timer: 6 });
                         }
                    
                    })
                }
        },
        allowedDates(val){
            const weekday = new Array('sunday', 'monday', 'tuesday', 
            'wednesday', 'thursday', 'friday', 'saturday');
           const day = weekday[new Date(val).getDay()]
           
           return this.el.indexOf(day)!==-1
 
        }
    }
}
</script>



<style>
    .contact{
           color: white !important;
    }
    .doc-brief {
           color: rgb(184, 179, 179) !important;
    }
    .doctor-image {
        width: 200px !important;
        height: 180px !important;
    }
    .features3 h1 {
        text-align: center;
        font-weight: 400;
    }
     .features3 {
   color: white;
   width: 100%;
   height: fit-content;
   min-height: fit-content;
   height: 240vh;
   background-color: black;
 }
</style>