<template>

  <div>
      <Navbar />
      <v-main>
      
            <hello-world />
      <div class="features">
          <h1>
            <v-icon color="white">
              mdi-star
            </v-icon>
            Features
          </h1>
          <v-container class="mt-5 text-center">
          <v-row>
              <v-col cols="4">
                <v-card
                  dark
                  elevation="24"
                >
                      <v-card-text>
                        <h3>Search Doctors Where You Want</h3>
                        <div class="mt-3 text-center">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam perferendis quo vero officiis numquam animi quia totam maxime non.
                        </div>

                          </v-card-text>
                </v-card>
              </v-col>
               <v-col cols="4">
                    <v-card
                      dark
                      elevation="24"
                    >
                          <v-card-text>
                            <h3>Search Doctors Where You Want</h3>
                            <div class="mt-3 text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam perferendis quo vero officiis numquam animi quia totam maxime non.
                            </div>

                              </v-card-text>
                    </v-card>
              </v-col>
                <v-col cols="4">
                    <v-card
                      dark
                      elevation="24"
                    >
                          <v-card-text>
                            <h3>Search Doctors Where You Want</h3>
                            <div class="mt-3 text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam perferendis quo vero officiis numquam animi quia totam maxime non.
                            </div>

                              </v-card-text>
                    </v-card>
              </v-col>
                <v-col cols="4">
                    <v-card
                      dark
                      elevation="24"
                    >
                          <v-card-text>
                            <h3>Search Doctors Where You Want</h3>
                            <div class="mt-3 text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam perferendis quo vero officiis numquam animi quia totam maxime non.
                            </div>

                              </v-card-text>
                    </v-card>
              </v-col>
                <v-col cols="4">
                    <v-card
                      dark
                      elevation="24"
                    >
                          <v-card-text>
                            <h3>Search Doctors Where You Want</h3>
                            <div class="mt-3 text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam perferendis quo vero officiis numquam animi quia totam maxime non.
                            </div>

                              </v-card-text>
                    </v-card>
              </v-col>
                <v-col cols="4">
                    <v-card
                      dark
                      elevation="24"
                    >
                          <v-card-text>
                            <h3>Search Doctors Where You Want</h3>
                            <div class="mt-3 text-center">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus veniam perferendis quo vero officiis numquam animi quia totam maxime non.
                            </div>

                              </v-card-text>
                    </v-card>
              </v-col>
          </v-row>
          </v-container>

      </div>
      
      
      
      </v-main>    

  </div>
</template>

<script>
  import HelloWorld from '../components/HelloWorld'
  import Navbar from '../components/Navbar'
  export default {
    name: 'Home',
   
    components: {
      HelloWorld,
      Navbar
    },
  }
</script>

<style>
.features h1 {
  padding-top: 25px;
  font-weight: 300;
  text-align: center;
}
 .features {
   color: white;
   width: 100%;
   height: 80vh;
   background-color: black;
 }
</style>
