<template>

  <div>
      <hello-world />
      <div class="features">

      </div>
  </div>
</template>

<script>
  import HelloWorld from '../components/HelloWorld'

  export default {
    name: 'Home',

    components: {
      HelloWorld,
    },
  }
</script>

<style>
 .features {
   color: white;
   width: 100%;
   height: 50vh;
   background-color: black;
 }
</style>
