<template>
    <div class="doctor-bg1">
      <div class="bg-dark1">
        <v-container>
           <v-card class="dark1 " >
             <!-- <v-btn plain class="mt-3 white--text back">
               Back To The Home
             </v-btn> -->
                  <v-btn plain dark class="primary--text mt-6" to="/">
                     <v-icon> mdi-home </v-icon>   Back To The Home 
                   </v-btn>
             <div class="d-flex pt-9 sign justify-center">
                <v-img :src="require('../assets/logo.png')"    max-height="50" max-width="50" contain />  
                 <h2 >Sign In </h2>
             </div>
              
              <v-form @submit.prevent="login">
                 <v-container class="px-10">
                     <v-alert
                         v-if="this.error"
                              color="red"
                              dense
                              text
                              type="error"
                    >
                      {{error}}
                    </v-alert>
                    <v-text-field
                      dark
                      type="email"
                      v-model="email"
                      label="Email"
                      solo
                   ></v-text-field>
                    
                    <v-alert
                         v-if="!$v.email.required && $v.email.$dirty"
                              color="red"
                              dense
                              text
                              type="error"
                    >
                      The email is required
                    </v-alert>


                    <v-text-field
                      dark
                      type="password"
                      v-model="password"
                      label="Password"
                      solo
                   ></v-text-field>
                   
                                       
                    <v-alert
                         v-if="!$v.password.required && $v.password.$dirty"
                              color="red"
                              dense
                              text
                              type="error"
                    >
                      The password is required
                    </v-alert>

                    <v-btn color="pink register" type="submit">
                            Sign in
                    </v-btn>
                
                     
                 </v-container>
              </v-form>
              <p class="mt-5 pb-6">
                You don't have account ? 
                   <v-btn plain dark class="primary--text "  :to="{name:'register'}">
                      Sign Up
                   </v-btn>
              </p>
             
            </v-card>
        </v-container>
       
      </div>
    </div>    
</template>



<script>

import axios from 'axios'

import {
  required,

} from "vuelidate/lib/validators";
export default {
    name:'register',
    validations : {
        email:{required},
        password:{required}
      
    },
    data() {
      return {
        error:null,
        email:"",
        password:""
      }
    },
    methods:{
      login(){

        this.$v.$touch();
     
     if (!this.$v.$invalid) {
     
            axios.post("/api/v1/jwt/create/",{
                "email":this.email,
                "password":this.password
              })
              .then(({data})=>{
                  
                  this.$store.commit("setAccess",data.access)
                  this.$store.commit("setRefresh",data.refresh)
                  this.$router.push("/")        


              })
              .catch((err)=>{
                if(err.response.status === 401){

                    this.error = err.response.data.detail

                }
              })
        }
      
      }
    }
}
</script>


<style>

.register {
  width: 99%;
}
.dark h2 {
  font-weight: 400;
}
.back {
  text-align: left !important;
}
.dark1 {
  margin-left: 190px;
  margin-right: 190px;
  border-radius: 20px  !important;
   color: white !important;
   background-color: rgba(48, 48, 56, 0.884) !important;
       height:fit-content;

}
.bg-dark1 {
  padding-top: 65px;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
}

.doctor-bg1 {
    background: url("../assets/doctor.jpg") no-repeat ;
    background-size: cover;
    width: 100%;
    height: 100vh;
}
</style>