<template>
    <div class="doctor-bg">
      <div class="bg-dark">
        <v-container>
           <v-card class="dark " >
             <!-- <v-btn plain class="mt-3 white--text back">
               Back To The Home
             </v-btn> -->
                  <v-btn plain dark class="primary--text mt-6" to="/">
                     <v-icon> mdi-home </v-icon>   Back To The Home 
                   </v-btn>
             <div class="d-flex pt-9 sign justify-center">
                <v-img :src="require('../assets/logo.png')"    max-height="50" max-width="50" contain />  
                 <h2 >Sign Up</h2>
             </div>
              
              <p class="mx-8 orange--text">This is only for doctors . If you're not a doctor , please don't register</p>
              <v-form @submit.prevent="register">
                 <v-container class="px-10">
                  <v-text-field
                      dark
                      v-model="fullName"
                      label="Full Name"
                      solo
                   ></v-text-field>

                      <div  v-if="$v.fullName.$dirty">
                          <v-alert
                          v-if="!$v.fullName.required || !$v.fullName.alpha"
                          color="red"
                          dense
                          text
                          type="error"
                         >
                              <span v-if="!$v.fullName.required">
                                  The Full Name is required
                              </span>

                              
                              <span v-if="!$v.fullName.alpha">
                                  The Characters are not alphabetic
                              </span>
                         
                         </v-alert>
                      </div>
                      
                    <v-text-field
                      dark
                      type="email"
                      v-model="email"
                      label="Email"
                      solo
                   ></v-text-field>


                        <div v-if="$v.email.$dirty">
                          <v-alert
                          v-if="!$v.email.required  || !$v.email.email || server_error.email"
                          color="red"
                          dense
                          text
                          type="error"
                         >

                         <span v-if="!$v.email.required">
                           The email is required
                         </span>
   
                         <span v-if="server_error.email">
                           This email already exists
                         </span>
                         
                         
                        <span v-if="!$v.email.email">
                            The Format is not correct
                         </span>         
                         
                         
                         </v-alert>             
                        </div>
             
                    <v-text-field
                      dark
                      type="password"
                      v-model="password1"
                      label="Password"
                      solo
                   ></v-text-field>
                        <div v-if="$v.password1.$dirty">
                            <v-alert
                              v-if="!$v.password1.required  || !$v.password1.minLength || server_error.password"
                              color="red"
                              dense
                              text
                              type="error"
                            >
                             <span v-if="!$v.password1.required">
                                The Password is required
                            </span>   
                            <span v-if="!$v.password1.minLength">
                                The Password must be at least 8 charceters
                            </span>   
                            <span v-if="server_error.password">
                                The Password must contains some numbers, alphabetics and specific characters -,*,_,! and must not be same as your name or email
                            </span>   
                         
                         </v-alert>
                        </div>
                   
                    <v-text-field
                      dark
                      type="password"
                      v-model="password2"
                      label="Confirmed Password"
                      solo
                   ></v-text-field>
                   
                    <div v-if=" $v.password2.$dirty">
                          <v-alert
                            v-if="!$v.password2.required  || password1 !== password2"
          
                                color="red"
                                dense
                                text
                                type="error"
                              >
                                  <span v-if="!$v.password2.required">
                                    The Confirmed Password is required
                                  </span>
                                  <span v-if=" password1 !== password2">
                                    The Confirmed Password didn't match The password
                                  </span>
                              </v-alert>
                    </div>

                     <v-text-field
                        type="number"
                        dark
                        v-model="phoneNumber"
                       label="Phone Number"
                        solo
                   ></v-text-field>
                     <v-alert
                      v-if="!$v.phoneNumber.required  && $v.phoneNumber.$dirty"
                          color="red"
                          dense
                          text
                          type="error"
                         >
                         The Phone Number is required
                         
                         
                         <span v-if="!$v.phoneNumber.integer">
                            The Characters are not numbers
                         </span>
                         
                         
                         </v-alert>
                    <v-select
                    
                         :items="states"
                          label="State"
                          dark
                          solo
                         v-model="state"
                      ></v-select>
                        <v-alert
                        v-if="!$v.state.required  && $v.state.$dirty"
                          color="red"
                          dense
                          text
                          type="error"
                         >The state is required</v-alert>
                        <v-text-field
                
                          dark
                          v-model="adress"
                          label="Adress"
                          solo
                        ></v-text-field>
                          <v-alert
                          v-if="!$v.adress.required  && $v.adress.$dirty"
                          color="red"
                          dense
                          text
                          type="error"
                         >The adress is required</v-alert>
                        <v-text-field
                          dark
                          type="number"
                          v-model="distance"
                          label="How Far ( km ) ?"
                          solo
                        ></v-text-field>
                          <v-alert
                          v-if="!$v.distance.required  && $v.distance.$dirty"
   
                          color="red"
                          dense
                          text
                          type="error"
                         >
                         The distance is required
                          <span v-if="!$v.distance.numeric">
                            The Characters are not numbers
                         </span>
                         
                         
                         </v-alert>
                       <v-select
                       v-model="specialization"
                         :items="s"
                          label="Specilization"
                          dark
                           solo
                      ></v-select>
                        <v-alert
                      v-if="!$v.specialization.required  && $v.specialization.$dirty"

                          color="red"
                          dense
                          text
                          type="error"
                         >The specialization is required</v-alert>
                             <v-btn color="pink register" type="submit">
                                Register
                             </v-btn>
                
                     
                 </v-container>
              </v-form>
              <p class="mt-5 pb-6">
                You have account ? 
                   <v-btn plain dark class="primary--text" :to="{name:'login'}">
                      Sign In
                   </v-btn>
              </p>
             
            </v-card>
        </v-container>
       
      </div>
    </div>    
</template>



<script>
import { getWilayaList} from '@dzcode-io/leblad'

import {
  required,
  numeric
   ,

  minLength,
  alpha,
  integer
  ,
  email
} from "vuelidate/lib/validators";
import axios from 'axios'
export default {
    name:'register',
    mounted() {
      getWilayaList().forEach(element => {
        this.states.push(element.name)
      });
   
    },
    validations:{
        fullName:{required,alpha},
        email:{required,email},
        distance:{required,integer},
        phoneNumber :{required,numeric},
        adress:{required},
        state:{required},
        specialization:{required},
        password1:{required,minLength:minLength(8)},
        password2:{required}
    },
    data() {
      return {
        server_error:{
          password:false,
          email:false,
        },
        states:[],
          s:[
         "Cardiologist and chest diseases",
          "Orthopedic and joint doctor",
          "Optometrist",
          "radiologist",
          "Gynecologist",
          "Pediatrician",
          "Ear,Nose and Throat",
          "generalist",
          "dentist",
          "surgeon",
          "Cancer and infectious diseases doctor",
          "skin doctor",
          "Diabetes and blood pressure doctor"
        ],
        fullName:"",
        email:"",
        distance:"",
        phoneNumber : "",
        adress:"",
        state:"",
        specialization:"",
        password1:"",
        password2:""
      }
    },
    methods: {
      register(){
           this.$v.$touch();
          if (!this.$v.$invalid) {
              axios.post("/api/v1/users/",{
              
                "full_name": this.fullName,
                "phone": this.phoneNumber,
                "state": this.state,
                "adress": this.adress,
                "distance": this.distance,
                "specialization": this.specialization,
                "email": this.email,
                "password": this.password1
            })
                .then(({data})=>{
                    console.log(data);
                    this.$router.push({"name":'login'})        
                })
                .catch((err)=>{
                  console.log(err.response);
                  if (err.response.status == 400) {
                      if (err.response.data.password) {
                          this.server_error.password = true  
                      }
                      if (err.response.data.email) {
                          this.server_error.email = true  
                      }
                  }
          
                  
                  
                  }) 
          }
          
      }
    },
}
</script>


<style>

.register {
  width: 99%;
}
.dark h2 {
  font-weight: 400;
}
.back {
  text-align: left !important;
}
.dark {
  margin-left: 190px;
  margin-right: 190px;
  border-radius: 20px  !important;
   color: white !important;
   background-color: rgba(48, 48, 56, 0.884) !important;
       height: fit-content;

}
.bg-dark {
  padding-top: 45px;
    background-color: rgba(0, 0, 0, 0.863);
    color: white;
    text-align: center;
    width: 100%;
    height: 100%;
}

.doctor-bg {
    background: url("../assets/doctor.jpg") no-repeat ;
    background-size: cover;
    width: 100%;
    height:fit-content;
}
</style>