<template>
    
    <div>

      <Navbar />
      <v-main>
      
            <hello-world />
             <div class="features">
                 <v-container>
                        <h1>Search Results</h1>
                        <v-card v-if="results.doctors.length===0"
                          dark
                         elevation="24"
                        >
                          <h3 class="text-center py-5 mt-12">
                              No Results Found
                          </h3>
                        </v-card>

                          <v-card
                          max-height="320"
                            v-for="doctor in results.doctors"
                            :key="doctor.id"
                         class="mt-10 mb-4"
                         dark
                         elevation="24"
                        >
                            <div class="d-flex">
                                    <v-img
                                        max-width="374"
                                        max-height="320"
                                        :src="doctor.get_url"
                                    ></v-img>
                                    <div>
                                            <div class="d-flex justify-space-between">
                                                <v-card-title>{{doctor.full_name}}</v-card-title>
                                                <v-btn color="purple" class="mt-4 mr-7" :to="'/contact/'+doctor.id">

                                                    Contact
                                                </v-btn>
                                            </div>
                                            
                                            <v-card-text>
                                                   <p>
                                                    <v-icon>
                                                        mdi-spa
                                                    </v-icon>
                                                    {{doctor.specialization}}
                                                </p>
                                                <p class="py-3">
                                                    {{doctor.description.substring(0,255)}}  <a :href="'/contact/'+doctor.id">...More</a>
                                                </p>
                                         
                                                <small >
                                                    <v-icon>
                                                        mdi-pin
                                                    </v-icon>
                                                   {{doctor.adress}}
                                                </small>
                                       
                                              
                                                
                                                <p class="pt-2" v-if="doctor.working_hours_today">
                                                    <b>
                                                        <v-icon>
                                                            mdi-timer
                                                        </v-icon>
                                                        Working Hours  {{doctor.working_hours_today.hour_start}} -  {{doctor.working_hours_today.hour_end}}
                                                    </b>

                                                
                                                </p>
                                            </v-card-text>
                                    </div>
                            </div>
                        </v-card>
  

                        <div class="text-center mt-5" v-if="results.num_pages>0">
                            <v-pagination
                            v-model="page"
                            :length="results.num_pages"
                            ></v-pagination>
                        </div>
                 </v-container>
             </div>
      </v-main>
    </div>




</template>


<script>
  import Navbar from '../components/Navbar'
  import HelloWorld from '../components/HelloWorld'
import axios from 'axios';
  export default {
    
  mounted() {
    console.log("hi search");
    this.getDoctors()  
  },
  watch:{
      page(){
          this.getDoctors()
      },

  },
  methods: {
      getDoctors(){

          let spec=this.$route.params.spec, state=this.$route.params.state;
          const name = this.$route.query.name || ""
          const distance = this.$route.query.distance || 0
          console.log("bla bla ",spec,name,distance,state);
          if(state==="all"){
              state=""
          }
          if(spec==="all"){
              spec=""
          }
          console.log("brr");
          axios.get(`/api/v1/doctors/search/?spec=${spec}&state=${state}&name=${name}&distance=${distance}&page=${this.page}`)
          .then((res)=>{
            //   console.log(res.data);
              this.results=res.data
          })
          .catch((err)=> console.log(err))

      }
  },
  components:{
    Navbar,
    HelloWorld
  },
  data() {
      return {
          results:{},
          page:1,
      }
  }, 
}
</script>



<style>
.features h1 {
  padding-top: 25px;
  font-weight: 300;
  text-align: center;
}
 .features {
   color: white;
   width: 100%;
   height: fit-content;
   min-height: 70vh;
   max-height: 340vh;
   background-color: black;
 }
</style>