<template>
   <div class="bg-home">
    
    <div class="content">
        <h1> <span class="search-word">Search Doctors</span>  Anytime Anywhere And Reserve <span class="a">An Appointement</span> </h1>
        <div class="search">
          <v-form >
              <v-container class="py-5" >
                     <v-row>
                         <v-col
                           cols="3"
                          >
                            <v-text-field
                            class="pl-4"
                                      v-model="name"
                                      label="Name ( Optional )"
                                      solo
                                    ></v-text-field>
                          
                         </v-col>
                         <v-col
                           cols="3"
                          >
                                   <v-select
                                        v-model="s1"
                                        :items="s"
                                        label="Specialist"
                                        solo
                                      ></v-select>
                         </v-col>
                          <v-col
                           cols="2"
                          >
                                   <v-select
                                        v-model="st"
                                        :items="states"
                                        label="State"
                                        solo
                                      ></v-select>
                         </v-col>
                          <v-col
                           cols="2"
                          >
                                <v-text-field
                                      type="number"
                                      label="How Far ?"
                                      solo
                                      v-model="distance"
                                    ></v-text-field>   
                         </v-col>
                           <v-col
                           cols="2"
                          >
                             <v-btn color="primary" class="my-1" @click="search">
                                  search
                              </v-btn>
                         </v-col>
                     </v-row>
              </v-container>
          </v-form>
        </div>
    </div>

   </div>
  
</template>

<script>
import { getWilayaList} from '@dzcode-io/leblad'

  export default {
    name: 'HelloWorld',
    // props:["getDoctors","h"],
    mounted() {
      getWilayaList().forEach(element => {
        this.states.push(element.name)
      });

    },
    methods: {
      search(){
        // console.log("ddd");
        // console.log(this.h);
        // console.log(this.s1);
        // this.getDoctors()
        // console.log("hhh");
        this.$router.push(`/search/${this.st}/${this.s1}?name=${this.name}&distance=${this.distance}`)


          // console.log( this.props);
        // this.props.getDoctors()
      }
    },
    data() {
      return {
        name:this.$route.query.name || "",
        distance:this.$route.query.distance || 0,
        s1:this.$route.params.spec || "all",
        st:this.$route.params.state ||"all",
        states:["all",],
        s:[
         "all",
         "Cardiologist and chest diseases",
          "Orthopedic and joint doctor",
          "Optometrist",
          "radiologist",
          "Gynecologist",
          "Pediatrician",
          "Ear,Nose and Throat",
          "generalist",
          "dentist",
          "surgeon",
          "Cancer and infectious diseases doctor",
          "skin doctor",
          "Diabetes and blood pressure doctor"
        ]
      }
    },
  }
</script>




<style>

.search {
  margin:46px  auto;
  width: 850px;
  height: 95px;
  border-radius: 50px;
  background-color: rgba(165, 21, 129, 0.884);
  


}
.content h1 {
    padding-top: 6em;
    font-weight: 300;

}
.search-word {
  color: #10c9d7;
}
.a {
  color: rgba(248, 21, 191, 0.705);
}
.content {
    color: white;
    text-align: center;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.534),black);

    width: 100%;
    height: 100%;
}

  .bg-home{
    height: 90vh;
    
    background:url('../assets/doctors.jpg') no-repeat;
   background-size: cover;
  }
</style>


