<template>
       <v-app-bar
        flat
        dark
        class="pb-4 nav"
        >
          <v-container  class="d-flex flex-row">
              <v-card
                class="d-flex flex-row mb-6 mt-10 nav"
                flat
                tile
                >
                  <v-img :src="require('../assets/logo.png')"    max-height="50" max-width="50" contain >  
                  </v-img>
              
                  <v-toolbar-title class="ml-2  title">
                   <span class="text-purple">Appo</span>  
                     Doc
                  </v-toolbar-title>
            
              </v-card>
              <v-spacer>

              </v-spacer>
              <v-btn class="mt-9 links"  to="/" plain>
                  <v-icon color="white"> mdi-home </v-icon>
                   Home
              </v-btn>
               <v-btn class="mt-9 links"  :to="{name:'About'}" plain>
                   <v-icon color="white"> mdi-help </v-icon>
                About Us
              </v-btn>
               <v-btn class="mt-9 links" plain :to="{name:'login'}">
                  <v-icon color="white"> mdi-login </v-icon>
                Login
              </v-btn>
              <v-btn  :to="{name:'register'}"  class="mt-9 links ml-6"  color="orange"  outlined>
               
                 Sign Up
              </v-btn>
          </v-container>
    

    </v-app-bar>
</template>

<script>
export default {
    
}
</script>


<style>
.links {
 font-family: 'Archivo Narrow', sans-serif;
}
.text-purple{
  color: rgba(248, 21, 191, 0.705);
}
.nav {
  background-color: black !important;
}
.title {
  font-family: 'Lobster', cursive !important;
}
</style>