<template>
  <v-app>
  
  
      <router-view :key='$route.fullPath'/>
  
      <v-footer dark >
          <div class="footer">
            <p class="c"> Created By Siham Heddi <v-icon color="pink">mdi-heart</v-icon> - Copyright 2021-2022</p>
          </div>
     </v-footer>
  </v-app>
</template>

<script>




export default {
  name: 'App',
 mounted() {
      this.$store.commit("init")

      const access = this.$store.state.access
      const refresh = this.$store.state.refresh
      
    
    },
  data: () => ({
    //
  }),
};
</script>

<style>
@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');
.footer {
  width: 100%;
  
}
.c {
  margin-top: 15px;
  text-align: center;
}

</style>
