

<template>
    <div>
        <navbar/>
            <v-main>
                 <div class="body">
                      <v-container>
                        <v-row>
                            <v-col>
                                 <div class="light mt-9 py-6 mb-6">
                                        <v-row>
                                            <v-col cols="5" class="pl-6">
                                                   <v-img
                                                        max-width="274"
                                                        max-height="274"
                                                        :src="url"
                                                    ></v-img>
                                                     
                                                           <v-file-input  
                                                                hide-details
                                                                v-model="image"
                                                                flat
                                                               :style="{width:'270px'}"
                                                                show-size
                                                                label="Select Image"
                                                                accept="image/*"
                                                                @change="selectImage"
                                                                ></v-file-input>
                                                   
                                            </v-col>
                                            <v-col cols="7" class="pr-8">                               
                                                  <v-textarea
                                                    filled
                                                    v-model="overview"
                                                    label="An overview"
                                                    placeholder="Write about yourself , about your services"
                                                    ></v-textarea>
                                                    <v-text-field type="number" label="Number patient per day ">

                                                    </v-text-field>
                                                    
                                                    <v-file-input  
                                                        hide-details
                                                        flat
                                                        v-model="certf"
                                                        label="Uploard your certafication"
                                                       
                                                    ></v-file-input>

                                                    <div>
                                                        <div class="d-flex justify-space-between mt-3">
                                                             <h4 class="my-5">Working Days And Hours</h4>
                                                             <v-btn class="mt-3"   color="primary" @click="w=true">
                                                                 +
                                                             </v-btn>

                                                               <v-dialog
                                                                  v-model="w"
                                                                 
                                                                  transition="dialog-top-transition"
                                                                  max-width="600"
                                                                >

                                                                      <v-card >
                                                                            
                                                                                    <v-card-text>
                                                                                            <h3 class="py-4">
                                                                                                Working hours and days
                                                                                            </h3>
                                                                                            <v-select label="day" v-model="day" :items="days">
                                                                                            </v-select>
                                                                                            <v-text-field type="time" v-model="hour_start" label="start hour">
                                                                                            </v-text-field>
                                                                                             <v-text-field type="time" v-model="hour_end" label="end hour">
                                                                                            </v-text-field>
                                                                                    </v-card-text>

                                                                                    <v-card-actions class="justify-end">
                                                                                            <v-btn   block color="primary" @click="add">
                                                                                                Submit
                                                                                            </v-btn>
                                                                                    </v-card-actions>
                                                                            
                                                                      </v-card>                                                                    
                                                               </v-dialog>
                                                        </div>
                                                        <hr>
                                                         <v-simple-table class="mt-5 mb-6">
                                                                <template v-slot:default>

                                                                    <thead>
                                                                            <tr>
                                                                                <th class="text-left">
                                                                                    Day
                                                                                </th>
                                                                                <th class="text-left">
                                                                                    Start Hour
                                                                                </th>
                                                                                <th class="text-left">
                                                                                    End Hour
                                                                                </th>
                                                                                 <th class="text-left">
                                                                                    
                                                                                </th>
                                                                            </tr>
                                                                    </thead>
                                                                     <tbody>

                                                                          <tr v-if="items.length == 0">
                                                                                <td colspan="3"  class="text-center">
                                                                                    
                                                                                    <small>
                                                                                           The table is empty . Click the button + to add new working days and their hours
                                                                                    </small>
                                                                                </td>
                                                                          </tr>
                                                                         
                                                                           <tr
                                                                            v-for="item in items"
                                                                            :key="item.id"
                                                                            >
                                                                                <td>{{ item.day }}</td>
                                                                                <td>{{ item.hour_start }}</td>
                                                                                <td>{{ item.hour_end }}</td>
                                                                                <td>
                                                                                    <v-btn  @click="()=>remove(item.id)" color="red">
                                                                                        -
                                                                                    </v-btn>
                                                                                </td>

                                                                            </tr>
                                                                     </tbody>
                                                                </template>   
                                                        </v-simple-table>
                                                        <v-btn
                                                            @click="save"
                                                            block
                                                            color="accent"
                                                            elevation="2"
                                                        >
                                                            Save
                                                        </v-btn>
                                                    </div>
                                            </v-col>
                                        </v-row>

                                     
                                 </div>
                            </v-col>
                        </v-row>
                      </v-container>
                 </div>
            </v-main>
    </div>

</template>


<script>
import axios from 'axios'
import Navbar from '../../components/doctor/Navbar.vue'
export default {
    components:{
        Navbar
    },
    methods: {
        save(){
             const access = this.$store.state.access
            axios.get("/api/v1/users/me/",{
                headers: {
                  'Authorization': `Bearer ${access}`
                }
              })
              .then((res)=>{

                  const data = new FormData();

                  data.append('id',res.data.id);
                  data.append('wh',JSON.stringify(this.items));
                  data.append('overview',this.overview);
                  data.append('certf',this.certf);
                  data.append('nb',this.nb);
                  data.append('image',this.image);
                        axios.post("/api/v1/doctors/complete/",data, {
                            headers: { 'Content-Type': 'multipart/form-data' }
                            }
                        
                        )
                        .then((res)=>{
                            if (res.data.success) {
                                this.$router.push("/dashboard")
                            }
                        })
                        .catch((err)=>{
                            console.log(err);
                        })
              })
            .catch((err)=>{
                    
                    if (err.response.status == 401) {
                        

                        this.$notification.error(err.response.data.message, {  timer: 6 });
                        this.$store.commit("removeToken")
                        location.reload()
                    }
            })
        },
        remove(id){
            const itemsSelected = this.items.filter(e=>e.id!==id)
            this.items = itemsSelected
        },
        add(){
            
            const wh= {
                    "id":this.items.length + 1,
                    "day":this.day, 
                    "hour_start":this.hour_start,
                    "hour_end":this.hour_end
            }
            
            this.items.push(wh)
            this.w = false


        },
        selectImage(){
            this.url = URL.createObjectURL(this.image)
        }
    },
    data() {
        return {
            w:false,
            overview:"",
            nb:1,
            certf:null,
            day:'',
            hour_start:null,
            hour_end:null,
            image:this.url,
            url:"http://127.0.0.1:8000/media/profiles/default.png",
            items : [],
            days: ["sunday","monday","tuesday","wednesday","thirsday","friday","saturday"]
        }
    },
}
</script>



<style>

</style>
