<template>
    <div>
        <navbar/>
            <v-main>
                 <div class="body">
                      <v-container>
                         <v-row>
                            <v-col>
                                 <div class="light mt-9 py-6 mb-6">
                                      <h3 class="text-center">
                                        <v-icon>
                                          mdi-history
                                        </v-icon>
                                        Your Appointement For Today
                                      </h3>
                                    <v-card  outlined class="mt-7 mx-7" v-if="results.data.length === 0 ">
                                             <v-card-text>
                                                <p class="text-center">No Appointement For Today</p>
                                             </v-card-text>
                                    </v-card>
                                   <v-card outlined class="mt-7 mx-7" v-for="r in results.data" :key="r.id">
                                        <v-card-title>
                                            {{r.patient.full_name}}
                                             
                                        </v-card-title>

                                         <v-card-text>
                                                <div class="d-flex justify-space-between ">
                                                        <div>
                                                              <h5 class="mb-2">Age {{r.patient.age}}</h5>
                                                              <p> {{r.overview}} </p>
                                                              <h6>
                                                                Email  :  {{r.patient.email}}  , Phone :  {{r.patient.phone}}  
                                                              </h6>
                                                        </div>
                                                        <div >
                                                            <v-btn outlined class="mr-2" color="red" @click="()=>{notComming(r.id)}">
                                                                <v-icon>
                                                                  mdi-close
                                                                </v-icon>
                                                                Not Comming
                                                            </v-btn>
                                                        <v-btn
                                                                  @click="()=>{ complete(r.id) }"
                                                                  outlined color="success"
                                                              >   
                                                                              
                                                                  <v-icon>
                                                                      mdi-check
                                                                  </v-icon>
                                                                  complete
                                                             </v-btn>
                                                                
                                                               <v-dialog
                                                                  v-model="c"
                                                                  transition="dialog-top-transition"
                                                                  max-width="600"
                                                                >
                                                            

                                                                      <v-card>
                                                                         <form>
                                                                                <v-card-text>
                                                                                  
                                                                                      <h4 class="pt-5">The Conclusion of the Patient</h4>
                                                                                        <v-textarea
                                                                                          solo
                                                                                          v-model="conclusion"
                                                                                          class="mt-5"
                                                                                          name="input-7-4"
                                                                                          label="Write Your Conclusion here"
                                                                                        ></v-textarea>
                                                                                          <v-alert
                                                                                              v-if="!$v.conclusion.required &&  $v.conclusion.dirty"
                                                                          
                                                                                                  color="red"
                                                                                                  dense
                                                                                                  text
                                                                                                  type="error"
                                                                                              >
                                                                                        
                                                                                                    The Conclusion is required
                                                                                        
                                                                                          </v-alert>
                                                                                  </v-card-text>
                                                                  
                                                                                  <v-card-actions class="justify-end">
                                                                                        
                                                                                        <v-btn
                                                                                          type="submit"
                                                                                          text
                                                                                          color="success"
                                                                                          @click.prevent="c=false;p=true"
                                                                                        >Save</v-btn>

                                                                                </v-card-actions>
                                                                            </form>
                                                                      </v-card>
                                                         
                                                               </v-dialog>
                                                           
                                                               <v-dialog
                                                                  v-model="p"
                                                                  transition="dialog-top-transition"
                                                                  max-width="600"
                                                                >
                                                                    <v-card>
                                                                         <form>
                                                                                <v-card-text>
                                                                                  
                                                                                      <h4 class="pt-5">The Prescription of the Patient</h4>
                                                                                        <v-textarea
                                                                                                  solo
                                                                                                  v-model="prescription"
                                                                                                  class="mt-5"
                                                                                                  name="input-7-4"
                                                                                                  label="Write Your Prescription here"
                                                                                                ></v-textarea>
                                                                                </v-card-text>
                                                                                  <v-card-actions class="justify-end">
                                                                                         <v-btn
                                                                                          type="submit"
                                                                                          text
                                                                                          color="error"
                                                                                          @click.prevent="()=>{conclusionWrite(false)}"
                                                                                        >I don't need the prescription</v-btn>
                                                                                        <v-btn
                                                                                          type="submit"
                                                                                          text
                                                                                          color="success"
                                                                                          @click.prevent="()=>{conclusionWrite(true)}"
                                                                                        >Save</v-btn>

                                                                               </v-card-actions>             
                                                                         </form>
                                                                    </v-card>
                                                                </v-dialog> 
                                                        </div>
                                                </div>
                                         </v-card-text>
                                     
                                      </v-card>
                                      <div class="text-center mt-5" v-if="results.num_pages > 0" >
                                          <v-pagination
                                               v-model="page"

                                               :length="results.num_pages"
                                          ></v-pagination>
                                      </div>
                             
                                 </div>
                            </v-col>
                         </v-row>
                      </v-container>
                 </div>
            </v-main>
    </div>
</template>


<script>
import axios from 'axios'
import Navbar from '../../components/doctor/Navbar.vue'
import { required } from "vuelidate/lib/validators";

export default {
    validations:{
            conclusion:{required},
           
    },
  components:{

    Navbar,
  },
  methods: {
    complete(id){
      this.c = true
      this.id = id
    },
    notComming(id){
      axios.post("/api/v1/appo/delete/",{"id":id})
      .then((res)=>{
          
          this.$notification.success(res.data.message, {  timer: 3 });
          this.getAppointements()
      })
      .catch((err)=>{
             this.$notification.error(err.response.data.message, {  timer: 6 });

      })
    },
    getAppointements(){
       
          const access = this.$store.state.access
            axios.get("/api/v1/users/me/",{
                headers: {
                  'Authorization': `Bearer ${access}`
                }
              })
              .then((res)=>{
                    
                    if(!res.data.is_complete){
                      this.$router.push("/complete")
                    }

                    let id = res.data.id
                  
                      axios.get(`/api/v1/appo/doctor/?id=${id}&page=${this.page}`)
                        .then((res)=>{
                           console.log(res.data);
                            this.results = res.data

                        })
                        .catch((err)=>{
                              console.log("can't get the data of the doctor");
                            if (err.response.status == 400) {
                                  this.$notification.error(err.response.data.message, {  timer: 6 });
                            }
                          })
              })
            .catch((err)=>{
                  
          

                  if (err.response.status == 401) {
                        

                        this.$notification.error(err.response.data.message, {  timer: 6 });
                        this.$store.commit("removeToken")
                        location.reload()
                    }


            })
      
    },
    conclusionWrite(ans){
       this.$v.$touch();
       if (!this.$v.$invalid) {
            axios.post("/api/v1/patient/create/",{
              "appointement":this.id,
              "description":this.conclusion,
              "content":this.prescription,
              "ans":ans
            })
            .then((res)=>{
                  this.id = 0
                  if (res.data.url) {
                      console.log("- url : ",res.data);
                       window.location.replace(res.data.url)
                  
                } else {

                    this.$notification.success(res.data.message,{timer:2})
                    this.getAppointements()
                  
                }
    
                
            })
            .catch((err)=>{
               this.$notification.error(err.response.data.message,{timer:4})
            })
             this.p = false
       }
    }
  },
  data() {
    return {
      prescription:"",
      id:0,
      page:1,
      p:false,
      c:false,
      results:[],
      conclusion:"",
    }
  },
  watch:{
      page(){
          this.getAppointements()
      },

  },
  mounted() {  
     this.$store.commit("init")
      this.getAppointements()
  },
}
</script>


<style>
  .light {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: fit-content;
  }
 .body {
     min-height: 80vh;
     height: fit-content;
     background-color: rgb(233, 230, 230);
 }
</style>

